MONGODB_URL=mongodb://localhost:27017
MONGODB_DB_NAME=project1
SECRET_KEY=change-this-secret-key
TOKEN_EXPIRE_SECONDS=3600
AUDIO_SAMPLE_RATE=44100
AUDIO_CHUNK_SECONDS=5
STT_MODE=whisper
STT_LANGUAGE=en
WHISPER_MODEL=tiny
HF_BASE_URL=https://router.huggingface.co/v1
HF_CHAT_MODEL=openai/gpt-oss-20b
HF_TOKEN=your_huggingface_token_here
